.nav-container{
    padding: 20px 80px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-items p{
    margin-right: 20px;
    font-size: 17px;
    font-weight: 500;
}
.menu-items p:hover{
    color: orange;
}






@media only screen and (max-width:576px) {
    .nav-container{
        padding: 20px 20px;
    }
    .nav{
        flex-direction: column;
    }
    .nav h3{
        font-size: 40px;
        text-align: center;
    }
    .menu-items{
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-items p{
        margin-bottom: 10px;
        margin-left: 12px;
    }
}